/*
 * Spaces StyleSheet (CSS)
 */
/**** Margins ****/
.mtbl {
	margin-top: 50px;
}
.mtl {
	margin-top: 20px;
}
.mbn,
.mbm {
	margin-bottom: 10px;
}
.mbl {
	margin-bottom: 20px;
}
.mrl {
	margin-right: 20px;
}

/**** Paddings ****/
.ptl {
	padding-top: 20px !important;
}
.pbs {
	padding-top: 5px;
}
.pbn {
	padding-bottom: 10px;
}
.pln {
	padding-left: 10px;
}
.prn {
	padding-right: 10px;
}