/*
 * MyBudget StyleSheet (CSS)
 */
/**** Global ****/


/**** Login ****/
.form-horizontal {
	width: 500px;
	margin: 0 auto;
	background-color: whitesmoke;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

/**** Dashboard ****/
.dashboard-item-2 {
	width: 430px;
	background-color: whitesmoke;
	border: 1px solid #ddd;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.highlight {
	font-size: 20px;
}
.highlight.positive {
	color: #66cc66;
}
.highlight.negative {
	color: #ff3333;
}