{% extends '::layout.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="username">Username:</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="password" id="password" name="_password" placeholder="Password" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input class="mtm" type="checkbox" name="_remember_me"> Remember me
                    <button type="submit" class="btn mll2">Login</button>
                </label>
                
            </div>
        </div>
    </form>
{% endblock %}