{% extends '::layout.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="form-horizontal mtl ptl pbs">
        <div class="control-group">
            <label class="control-label" for="username">Usuario:</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Contrase&ntilde;a:</label>
            <div class="controls">
                <input type="password" id="password" name="_password" placeholder="Contrase&ntilde;a" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input class="mtm" type="checkbox" name="_remember_me"> No cerrar sesi&oacute;n
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn mll2">Entrar</button>
                </label>
                
            </div>
        </div>
    </form>
{% endblock %}