{% use '::javascript.html.twig' %}

<div id="by-category" class="by-category mbl"></div>

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}