{% use '::javascript.html.twig' %}

<div id="twelve-months" class="twelve-months"></div>

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}