{% use '::javascript.html.twig' %}

<div id="month-targets" class="month-targets mbl"></div>

{% block javascripts %}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}